{% extends 'adminpanel/baseadmin.html' %}
{% load static %}

{% block head %}
    <title>Admin Dashboard | TheMillinoEstate</title>
    <meta content="Admin Dashboard of TheMillionEstate" name="description" />
{% endblock %}

{% block content %}
               <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Real Estate</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Real Estate Dashboard</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-success">
                                <i class="mdi mdi-currency-usd float-right"></i>
                                <h6 class="text-success text-uppercase mb-3 mt-2">This Month Revenue</h6>
                                <h2 class="mb-2">₹<span data-plugin="counterup">0</span></h2>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-primary">
                                <i class="mdi mdi-home-map-marker float-right"></i>
                                <h6 class="text-primary text-uppercase mb-3 mt-2">Total Properties</h6>
                                <h2 class="mb-2"><span data-plugin="counterup">{{total_property}}</span></h2>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-pink">
                                <i class="mdi mdi-comment-multiple-outline float-right"></i>
                                <h6 class="text-pink text-uppercase mb-3 mt-2">This month Inquiries</h6>
                                <h2 class="mb-2" data-plugin="counterup">0</h2>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-info">
                                <i class="mdi mdi-account-multiple float-right"></i>
                                <h6 class="text-info text-uppercase mb-3 mt-2">Registered Users</h6>
                                <h2 class="mb-2"><span data-plugin="counterup">0</span></h2>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Report</h4>

                                <div id="ordered-bars-chart" style="height: 320px;"></div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="text-center card-box">
                                <div class="text-left">
                                    <h4 class="header-title mb-4">Top Rated Agent</h4>
                                </div>
                                <div class="member-card">
                                    <div class="avatar-xl member-thumb mb-2 mx-auto d-block">
                                        <img src="assets/images/users/avatar-4.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                        <i class="mdi mdi-star-circle member-star text-success" title="Featured Agent"></i>
                                    </div>

                                    <div class="">
                                        <h5 class="font-18 mb-2">Mark McKnight</h5>
                                        <p class="font-14">
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </p>
                                    </div>

                                    <div class="mt-4">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <h4>84</h4>
                                                <p class="mb-2">Listed Properties</p>
                                            </li>

                                            <li class="list-inline-item ml-4">
                                                <h4>58</h4>
                                                <p class="mb-2">Sale Properties</p>
                                            </li>
                                        </ul>
                                    </div>

                                    <button type="button" class="btn btn-brown btn-rounded waves-effect mb-1 waves-light">Send Message</button>

                                </div>
                                <!-- end membar card -->
                            </div>
                            <!-- end card-box -->
                        </div>
                        <!-- end col -->

                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Recent Users</h4>

                                <table class="table table-centered mb-0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="user" href="#">
                                                    <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle img-thumbnail avatar-md">
                                                </a>
                                            </td>
                                            <td>
                                                <h5 class="mt-0 mb-1 font-15">Clarence M. Ramos </h5>
                                                <p class="font-13 mb-0">Last login: 16/12/2018 10:45</p>
                                            </td>
                                            <td class="text-right">
                                                <a href="#" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-primary">Edit</a>
                                                <a href="#" class="btn btn-sm btn-bordered-danger waves-effect waves-light btn-danger">Remove</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a class="user" href="#">
                                                    <img src="assets/images/users/avatar-3.jpg" alt="" class="rounded-circle img-thumbnail avatar-md">
                                                </a>
                                            </td>
                                            <td>
                                                <h5 class="mt-0 mb-1 font-15">Wayne J. Sloan</h5>
                                                <p class="font-13 mb-0">Last login: 16/12/2018 10:45</p>
                                            </td>
                                            <td class="text-right">
                                                <a href="#" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-primary">Edit</a>
                                                <a href="#" class="btn btn-sm btn-bordered-danger waves-effect waves-light btn-danger">Remove</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="user" href="#">
                                                    <img src="assets/images/users/avatar-7.jpg" alt="" class="rounded-circle img-thumbnail avatar-md">
                                                </a>
                                            </td>
                                            <td>
                                                <h5 class="mt-0 mb-1 font-15">Jimmie J. Hertzog</h5>
                                                <p class="font-13 mb-0">Last login: 16/12/2018 10:45</p>
                                            </td>
                                            <td class="text-right">
                                                <a href="#" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-primary">Edit</a>
                                                <a href="#" class="btn btn-sm btn-bordered-danger waves-effect waves-light btn-danger">Remove</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="user" href="#">
                                                    <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle img-thumbnail avatar-md">
                                                </a>
                                            </td>
                                            <td>
                                                <h5 class="mt-0 mb-1 font-15">Larry D. Guy</h5>
                                                <p class="font-13 mb-0">Last login: 16/12/2018 10:45</p>
                                            </td>
                                            <td class="text-right">
                                                <a href="#" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-primary">Edit</a>
                                                <a href="#" class="btn btn-sm btn-bordered-danger waves-effect waves-light btn-danger">Remove</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a class="user" href="#">
                                                    <img src="assets/images/users/avatar-6.jpg" alt="" class="rounded-circle img-thumbnail avatar-md">
                                                </a>
                                            </td>
                                            <td>
                                                <h5 class="mt-0 mb-1 font-15">David D. Thomas</h5>
                                                <p class="font-13 mb-0">Last login: 16/12/2018 10:45</p>
                                            </td>
                                            <td class="text-right">
                                                <a href="#" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-primary">Edit</a>
                                                <a href="#" class="btn btn-sm btn-bordered-danger waves-effect waves-light btn-danger">Remove</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-6">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Recent Properties</h4>

                                <div class="media latest-post-item mt-3">
                                    <div class="media-left mr-2">
                                        <a href="#"> <img class="rounded" alt="" src="assets/images/properties/1.jpg" style="width: 100px; height: 66px;"> </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading mt-0 font-16"><a href="#" class="text-muted">4BHK Alexander Court,New York</a> </h5>
                                        <p class="font-13 text-muted">
                                            Dec 03, 2018 | John Deo
                                        </p>
                                    </div>
                                </div>

                                <div class="media latest-post-item mt-3">
                                    <div class="media-left mr-2">
                                        <a href="#"> <img class="rounded" alt="" src="assets/images/properties/2.jpg" style="width: 100px; height: 66px;"> </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading mt-0 font-16"><a href="#" class="text-muted">Exclusive: Get a First Look at the Fall Collection</a> </h5>
                                        <p class="font-13 text-muted">
                                            Dec 03, 2018 | John Deo
                                        </p>
                                    </div>
                                </div>

                                <div class="media latest-post-item mt-3">
                                    <div class="media-left mr-2">
                                        <a href="#"> <img class="rounded" alt="" src="assets/images/properties/3.jpg" style="width: 100px; height: 66px;"> </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading mt-0 font-16"><a href="#" class="text-muted">365 Maywood Dr, San Francisco</a> </h5>
                                        <p class="font-13 text-muted">
                                            Dec 03, 2018 | John Deo
                                        </p>
                                    </div>
                                </div>

                                <div class="media latest-post-item mt-3">
                                    <div class="media-left mr-2">
                                        <a href="#"> <img class="rounded" alt="" src="assets/images/properties/4.jpg" style="width: 100px; height: 66px;"> </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading mt-0 font-16"><a href="#" class="text-muted">1735 N Fuller Ave #124</a> </h5>
                                        <p class="font-13 text-muted">
                                            Dec 03, 2018 | John Deo
                                        </p>
                                    </div>
                                </div>

                                <div class="media latest-post-item mt-3">
                                    <div class="media-left mr-2">
                                        <a href="#"> <img class="rounded" alt="" src="assets/images/properties/4.jpg" style="width: 100px; height: 66px;"> </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading mt-0 font-16"><a href="#" class="text-muted">first generator on Internet a dictionary</a> </h5>
                                        <p class="font-13 text-muted">
                                            Dec 03, 2018 | John Deo
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-box -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->

            </div>
            <!-- end content -->

            

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            2018 - 2020 &copy; Zircos theme by <a href="">Coderthemes</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

        <!-- Vendor js -->
    <script src="{% static 'adminassets/js/vendor.min.js'%}"></script>
    <script src="{% static 'adminassets/js/app.min.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.time.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.tooltip.min.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.resize.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.pie.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.selection.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.stack.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.orderBars.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.crosshair.js'%}"></script>

    <script src="{% static 'adminassets/js/pages/real-estate-dashboard.init.js'%}"></script>

{% endblock %}