{% extends 'adminpanel/baseadmin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Admin Add Property | TheMillinoEstate</title>
<meta content="admin Property list of TheMillionEstate" name="description" />


<!-- Plugins css -->
<link href="{% static 'adminassets/libs/dropify/dropify.min.css'%}" rel="stylesheet" type="text/css" />

<!-- App css -->
<link href="{% static 'adminassets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"
    id="bootstrap-stylesheet" />
<link href="{% static 'adminassets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'adminassets/css/app.min.css'%}" rel="stylesheet" type="text/css" id="app-stylesheet" />

<script src="{% static 'ckeditor/ckeditor.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Real Estate </a></li>
                                <li class="breadcrumb-item active">Add / Edit Property</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Add / Edit Property</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h4 class="header-title mt-0">Fill in the Form</h4>

                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="p-4">

                                        <div class="form-group">
                                            <label class="mb-2">Property For*</label>
                                            <br />
                                            {% if property_for %}
                                            {% for property_for in property_for %}
                                            <div class="radio radio-info form-check-inline">
                                                <input type="radio" id="inlineRadio1" value="{{property_for.id}}"
                                                    name="radioInline" checked>
                                                <label for="inlineRadio1">For {{property_for.property_for_name}}</label>
                                            </div>
                                            {% endfor %}
                                            {% endif %}

                                        </div>



                                        <div class="form-group">
                                            <label for="sel1">Your property type*</label>
                                            <select class="form-control" id="sel1">
                                                {% if property_type %}
                                                {% for property_type in property_type %}
                                                <option value="{{property_type.id}}">{{property_type}}</option>
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>


                                        <div class="form-group">
                                            <label for="property-location">Location*</label>
                                            <input type="text" class="form-control" id="property-location"
                                                placeholder="Enter location" required>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 mb-2">
                                                    <label for="bedrooms">Bedrooms*</label>
                                                    <input type="number" min="0" max="50" class="form-control"
                                                        id="bedrooms" required>
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="Square-ft">Bathroom</label>
                                                    <input type="number" min="0" max="50" class="form-control"
                                                        id="bathrooms" required>
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="car-parking">Balcony</label>
                                                    <input type="number" min="0" max="50" maxlength="1"
                                                        class="form-control" id="car-parking" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 mb-2">
                                                    <label for="bedrooms">Carpet area sq.ft*</label>
                                                    <input type="number" class="form-control" id="carpet-area " required>
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="Square-ft">Builtup area sq.ft</label>
                                                    <input type="number" class="form-control" id="builtup-area">
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="car-parking">Superbuiltup area sq.ft</label>
                                                    <input type="number" class="form-control" id="superbuiltup-area">
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Property Age,Floors, -->
                                        <div class="form-group">
                                            <div class="row">
                                                 <div class="col-sm-4 mb-2">
                                                    <label for="floors">Floors</label>
                                                    <input type="number" class="form-control" id="floor">
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="property age">Property Age</label>
                                                    <input type="number" class="form-control" id="property-age">
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="parking">Parking</label>
                                                    <input type="number" class="form-control" id="parking">
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group" >
                                            <label for="propertyname">Property Name</label>
                                            <input type="text" class="form-control" id="name"
                                                placeholder="Enter title">
                                        </div>

                                        <div class="form-group">
                                            <label for="property-desc">Description</label>
                                            <textarea class="form-control" id="description" rows="5"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="property-price">Price*:</label>
                                            <input type="number"  class="form-control" id="price" placeholder="Enter Price here" required >
                                        </div>






                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 mb-2">
                                                    <label for="furnishing-type">Furnishing Type:</label>
                                                    <select class="form-control" name="furnishing_type">
                                                        {% if furnishing_status %}
                                                        {% for furnishing in furnishing_status %}
                                                        <option value="{{furnishing}}">{{furnishing}}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="Square-ft">Available For:</label>
                                                    <select class="form-control" name="available_for">
                                                        {% if available_for %}
                                                        {% for available_for in available_for %}
                                                        <option value="{{available_for}}">{{available_for}}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-4 mb-2">
                                                    <label for="car-parking">Property Status* :</label>
                                                    <select class="form-control" name="property_status">
                                                        {% if property_status %}
                                                        {% for property_status in property_status %}
                                                        <option value="{{property_status}}">{{property_status}}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end class p-20 -->

                                </div>
                                <!-- end col -->

                                <div class="col-lg-6">
                                    <div class="p-4">
                                        <div class="form-group mb-4">
                                            <label class="mb-3">General Amenities</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox1" type="checkbox" checked>
                                                        <label for="checkbox1" class="mb-0">
                                                            Swimming pool
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox2" type="checkbox">
                                                        <label for="checkbox2" class="mb-0">
                                                            Terrace
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox3" type="checkbox">
                                                        <label for="checkbox3" class="mb-0">
                                                            Air conditioning
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox4" type="checkbox" checked>
                                                        <label for="checkbox4" class="mb-0">
                                                            Internet
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox5" type="checkbox">
                                                        <label for="checkbox5" class="mb-0">
                                                            Balcony
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox6" type="checkbox" checked>
                                                        <label for="checkbox6" class="mb-0">
                                                            Cable TV
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox7" type="checkbox" checked>
                                                        <label for="checkbox7" class="mb-0">
                                                            Computer
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox8" type="checkbox">
                                                        <label for="checkbox8" class="mb-0">
                                                            Grill
                                                        </label>
                                                    </div>
                                                </div>
                                                <!-- end col -->

                                                <div class="col-6">
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox9" type="checkbox">
                                                        <label for="checkbox9" class="mb-0">
                                                            Dishwasher
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox10" type="checkbox">
                                                        <label for="checkbox10" class="mb-0">
                                                            Near Green Zone
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox11" type="checkbox" checked>
                                                        <label for="checkbox11" class="mb-0">
                                                            Near Church
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox12" type="checkbox">
                                                        <label for="checkbox12" class="mb-0">
                                                            Near Hospital
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox13" type="checkbox" checked>
                                                        <label for="checkbox13" class="mb-0">
                                                            Near School
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox14" type="checkbox" checked>
                                                        <label for="checkbox14" class="mb-0">
                                                            Near Shop
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox15" type="checkbox" checked>
                                                        <label for="checkbox15" class="mb-0">
                                                            Oven
                                                        </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary mb-3">
                                                        <input id="checkbox16" type="checkbox">
                                                        <label for="checkbox16" class="mb-0">
                                                            Cofee pot
                                                        </label>
                                                    </div>
                                                </div>
                                                <!-- end col -->

                                            </div>
                                            <!-- end row -->
                                        </div>
                                        <div class="form-group mb-4">
                                            <label>File Uploads</label>
                                            <input type="file" multiple class="dropify form-control-file" name="image" data-height="210" />

                                        </div>
                                    </div>
                                    <!-- end class p-20 -->
                                </div>
                                <!-- end col -->

                            </div>
                            <!-- end row -->



                            <div class="text-center">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                                <button type="button" class="btn btn-danger waves-effect waves-light">Delete</button>
                            </div>
                        </form>
                        <!-- end form -->

                    </div>
                    <!-- end card-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div>
        <!-- end container-fluid -->

    </div>
    <!-- end content -->



    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2018 - 2020 &copy; Zircos theme by <a href="">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->



<!-- Vendor js -->
<script src="{% static 'adminassets/js/vendor.min.js'%}"></script>

<!-- Plugins js -->
<script src="{% static 'adminassets/libs/dropify/dropify.min.js'%}"></script>

<script src="{% static 'adminassets/js/pages/property-add.init.js'%}"></script>
<!-- App js -->
<script src="{% static 'adminassets/js/app.min.js'%}"></script>
{% endblock %}