 {% load static %}
 <!-- Footer #1
============================================= -->
<footer id="footer" class="footer footer-1 bg-white">
    <!-- Widget Section
============================================= -->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 widget--about">
                    <div class="widget--content">
                        <div class="footer--logo">
                            <img src="assets/images/logo/logo-dark2.png" alt="logo">
                        </div>
                        <p>86 Petersham town, New South Wales Wardll Street, Australia PA 6550</p>
                        <div class="footer--contact">
                            <ul class="list-unstyled mb-0">
                                <li>+91 95391 15577</li>
                                <li><a href="mailto:astremebusiness@gmail.com">astremebusiness@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-2 end -->
                <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1 widget--links">
                    <div class="widget--title">
                        <h5>Company</h5>
                    </div>
                    <div class="widget--content">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Properties</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-md-2 end -->
                <div class="col-xs-12 col-sm-3 col-md-2 widget--links">
                    <div class="widget--title">
                        <h5>Learn More</h5>
                    </div>
                    <div class="widget--content">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Account</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-md-2 end -->
                <div class="col-xs-12 col-sm-12 col-md-4 widget--newsletter">
                    <!-- <div class="widget--title">
                        <h5>newsletter</h5>
                    </div>
                    <div class="widget--content">
                        <form class="newsletter--form mb-40">
                            <input type="email" class="form-control" id="newsletter-email"
                                placeholder="Email Address">
                            <button type="submit"><i class="fa fa-arrow-right"></i></button>
                        </form> -->
                        <h6>Get In Touch</h6>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/ashwindibu"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/ashwin_john_dibu/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 end -->

            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->

    <!-- Copyrights
============================================= -->
    <div class="footer--copyright text-center">
        <div class="container">
            <div class="row footer--bar">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span>© 2022 <a href="https://axinoz.com">Axinoz Pvt.Ltd </a>, All Rights
                        Reserved.</span>
                </div>

            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-copyright end -->
</footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->