{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="Ashwin John Dibu" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content=" Add Property page of million estate site">
<link href="assets/images/favicon/favicon.png" rel="icon">

<!-- Fonts
    ============================================= -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">



<title> Add Property | TheMillionEstate</title>

{% endblock %}

{% block content %}
        <!-- Page Title #1
============================================ -->
<section id="page-title" class="page-title bg-overlay bg-overlay-dark2">
    <div class="bg-section">
        <img src="assets/images/page-titles/1.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--heading">
                            <h1>Add Property</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Add Property</li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- #Add Property
============================================= -->
<section id="add-property" class="add-property">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="edit--profile-area">
                    <ul class="edit--profile-links list-unstyled mb-0">
                        <li><a href="{% url 'user_profile' %}">Edit Profile</a></li>
                        <li><a href="{% url 'my_property' %}">My Properties</a></li>
                        <li><a href="{% url 'favourite_property' %}">Favourite Properties</a></li>
                        <li><a href="{% url 'add_property' %}"  class="active">Add Property</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-md-8">


                <!-- Form 1 -->
                
                <form class="mb-0">
                    <div class="form-box">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="form--title">Property Description</h4>
                            </div>
                            <!-- .col-md-12 end -->
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="property-title">Property Title*</label>
                                    <input type="text" class="form-control" name="property-title" id="property-title" required>
                                </div>
                            </div>
                            <!-- .col-md-12 end -->
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="property-description">Property Description*</label>
                                    <textarea class="form-control" name="property-description" id="property-description" rows="2"></textarea>
                                </div>
                            </div>
                            <!-- .col-md-12 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="select-type">Type</label>
                                    <div class="select--box">
                                        <i class="fa fa-angle-down"></i>
                                        <select id="select-type">
                                    <option>house</option>
                                    <option>appartment</option>
                                </select>
                                    </div>
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="select-status">Status</label>
                                    <div class="select--box">
                                        <i class="fa fa-angle-down"></i>
                                        <select id="select-status">
                                    <option>Sale</option>
                                    <option>Rent</option>
                                </select>
                                    </div>
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="location">Location</label>
                                    <input type="text" class="form-control" name="location" id="location">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Bedrooms">Bedrooms</label>
                                    <input type="text" class="form-control" name="Bedrooms" id="Bedrooms">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Bathrooms">Bathrooms</label>
                                    <input type="text" class="form-control" name="Bathrooms" id="Bathrooms">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Floors">Floors</label>
                                    <input type="text" class="form-control" name="Floors" id="Floors">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Garages">Garages</label>
                                    <input type="text" class="form-control" name="Garages" id="Garages">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Area">Area</label>
                                    <input type="text" class="form-control" name="Area" id="Area" placeholder="sq ft">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Size">Size</label>
                                    <input type="text" class="form-control" name="Size" id="Size" placeholder="sq ft">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Sale-Rent-Price">Sale or Rent Price*</label>
                                    <input type="text" class="form-control" name="Sale-Rent-Price" id="Sale-Rent-Price" required>
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Before-Price-Label">Before Price Label</label>
                                    <input type="text" class="form-control" name="Before-Price-Label" id="Before-Price-Label" placeholder="ex: start from">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="After-Price-Label">After Price Label</label>
                                    <input type="text" class="form-control" name="After-Price-Label" id="After-Price-Label" placeholder="ex: monthly">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Property-ID">Property ID*</label>
                                    <input type="text" class="form-control" name="Property-ID" id="Property-ID">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Video-URL">Video URL</label>
                                    <input type="text" class="form-control" name="Video-URL" id="Video-URL" placeholder="Youtube, Vimeo, Dailymotion, etc..">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .form-box end -->
                    <div class="form-box">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="form--title">Property Features</h4>
                            </div>
                            <!-- .col-md-12 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Center Cooling</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Balcony</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Pet Friendly</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Barbeque</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Fire Alarm</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Modern Kitchen</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Storage</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Dryer</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Heating</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Pool</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Laundry</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Sauna</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Gym</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Elevator</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Dish Washer</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="input-checkbox">
                                    <label class="label-checkbox">
                                <span>Emergency Exit</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                </div>
                            </div>
                            <!-- .col-md-3 end -->
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .form-box end -->

                    <div class="form-box">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="form--title">Property Gallery</h4>
                            </div>
                            <!-- .col-md-12 end -->
                            <div class="col-xs-12 col-sm-4 col-md-12">
                                <div id="dZUpload" class="dropzone"></div>
                            </div>
                            <!-- .col-md-12 end -->

                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .form-box end -->

                    <div class="form-box">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="form--title">Property Location</h4>
                            </div>
                            <!-- .col-md-12 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="address">Address*</label>
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Enter your property address" required>
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="select-country">Country</label>
                                    <div class="select--box">
                                        <i class="fa fa-angle-down"></i>
                                        <select id="select-country">
                                    <option>Select property country</option>
                                    <option>Select property country</option>
                                 </select>
                                    </div>
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input class="form-control" name="city" id="city">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input type="text" class="form-control" name="state" id="state">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="Zip/Postal-code">Zip/Postal Code</label>
                                    <input type="text" class="form-control" name="Zip/Postal-code" id="Zip/Postal-code">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="neighborhood">Neighborhood</label>
                                    <input type="text" class="form-control" name="neighborhood" id="neighborhood">
                                </div>
                            </div>
                            <!-- .col-md-4 end -->
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div id="googleMap" style="width:100%;height:380px;"></div>
                            </div>
                            <!-- .col-md-12 end -->
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .form-box end -->
                    <input type="submit" value="Save Edits" name="submit" class="btn btn--primary">
                </form>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
</section>
<!-- #social-profile  end -->

<!-- cta #1
============================================= -->
<section id="cta" class="cta cta-1 text-center bg-overlay bg-overlay-dark pt-90">
    <div class="bg-section"><img src="assets/images/cta/bg-1.jpg" alt="Background"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <h3>Join our professional team & agents to start selling your house</h3>
                <a href="#" class="btn btn--primary">Contact</a>
            </div>
            <!-- .col-md-6 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<script src="{% static 'main/js/dropzone.js'%}"></script>
<script src="{% static 'main/js/jquery-2.2.4.min.js'%}"></script>
<script src="{% static 'main/js/plugins.js'%}"></script>
<script src="{% static 'main/js/functions.js'%}"></script>
{% endblock %}