{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="TheMillionEstate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'images/favicon/crown.png' %}" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
<!-- Stylesheets
============================================= -->

    <link href="{% static 'main/css/external.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>    

    {% block head %}
    <!-- head -->
    {% endblock %}



</head>

<body>

    {% include 'includes/navbar.html' %}

    {% block content %}
    <!-- content -->
    {% endblock %}

 
    {% include 'includes/footer.html' %}

    <!-- JavaScript Bundle with Popper -->



</body>

</html>