{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="description" content="Real Estate Website in Kerala Kochi">
    <title>The Million Estate | Real Estate Webstie | Buy Sell Rent</title>
    <style>
        .image-resize{
            height: 240px;
            object-fit: cover;
            object-position: center;
        }
    </style>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
  
        <!-- Hero Search
============================================= -->
        <section id="heroSearch" class="hero-search mtop-100 pt-0 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="slider--content">
                            <div class="text-center">
                                <h1>Find Your Favorite Property</h1>
                            </div>
                            <form class="mb-0" action="{% url 'propertys' %}">
                                <div class="form-box search-properties">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <input type="search" id="search" name="search"  class="form-control" placeholder="Search Locality" />


                                                <!-- <div class="select--box">
                                                    <i class="fa fa-angle-down"></i>
                                                    <select name="select-location" id="select-location">
                                                        <option>Any Location</option>
                                                        <option>Alabama</option>
                                                        <option>Alaska</option>
                                                        <option>California</option>
                                                        <option>Florida</option>
                                                        <option>Mississippi</option>
                                                        <option>Oregon</option>
                                                    </select>
                                                </div> -->

                                            </div>
                                        </div>
                                        <!-- .col-md-3 end -->
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <div class="select--box">
                                                    <i class="fa fa-angle-down"></i>
                                                    <select name="property-type" id="select-type">
                                                        <option value="">Any Type</option>
                                                        {% for property_type in property_types %}
                                                        <option value="{{property_type.id}}" >{{property_type}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .col-md-3 end -->
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <div class="select--box">
                                                    <i class="fa fa-angle-down"></i>
                                                    <select name="property-status" id="select-status">
                                                        <option value="">Any Status</option>
                                                        {% for property_for in property_for %}
                                                        <option value="{{property_for.id}}">{{ property_for.property_for_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- .col-md-3 end -->
                                        <!-- Submit button  -->
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <input type="submit" class="btn btn--primary btn--block">
                                        </div>
                                        <!-- Submit end -->
                                        <!-- .col-md-3 end -->


                                        <div class="col-xs-12 col-sm-6 col-md-3 option-hide">
                                            <div class="form-group">
                                                <div class="select--box">
                                                    <i class="fa fa-angle-down"></i>
                                                    <select name="property-beds" id="select-beds">
                                                        <option value="">Beds</option>
                                                        
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                   

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .col-md-3 end -->
                                        <div class="col-xs-12 col-sm-6 col-md-3 option-hide">
                                            <div class="form-group">
                                                <div class="select--box">
                                                    <i class="fa fa-angle-down"></i>
                                                    <select name="property-baths" id="select-baths">
                                                        <option value="">Baths</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .col-md-3 end -->
                                       
                                        <!-- .col-md-3 end -->
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <a href="#" class="less--options">More options</a>
                                        </div>
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .form-box end -->
                            </form>
                        </div>
                    </div>
                    <!-- .container  end -->
                </div>
                <!-- .slider-text end -->
            </div>
            <div class="carousel slider-navs" data-slide="1" data-slide-rs="1" data-autoplay="true" data-nav="true"
                data-dots="false" data-space="0" data-loop="true" data-speed="800">
                <!-- Slide #1 -->
                <div class="slide--item bg-overlay bg-overlay-dark3">
                    <div class="bg-section">
                        <img src="media/photo/hero_image/mumbai-skyline.jpg" alt="background">
                    </div>
                </div>
                <!-- .slide-item end -->
                <!-- Slide #2 -->
                <div class="slide--item bg-overlay bg-overlay-dark3">
                    <div class="bg-section">
                        <img src="media/photo/hero_image/house-field.jpg" alt="background">
                    </div>
                </div>
                <!-- .slide-item end -->
                <!-- Slide #3 -->
                <div class="slide--item bg-overlay bg-overlay-dark3">
                    <div class="bg-section">
                        <img src="https://www.axinosreal.com/assets/images/sum/Optimus-2-b.jpg" alt="background">
                    </div>
                </div>
                <!-- .slide-item end -->
            </div>
        </section>
        <!-- #property-single-slider end -->



        <!-- properties-carousel
============================================= -->
        <section id="properties-carousel" class="properties-carousel pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="heading heading-2 text-center mb-70">
                            {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         {{message}}
                    </div>
                    {% endfor %}
                            <h2 class="heading--title">Latest Properties</h2>

                            <p class="heading--desc">Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
                        </div>
                        <!-- .heading-title end -->
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="carousel carousel-dots" data-slide="3" data-slide-rs="2" data-autoplay="true"
                            data-nav="false" data-dots="true" data-space="25" data-loop="true" data-speed="800">


                            <!-- .property-item #1 -->
                            {% for latest_property in latest_propertys %}
                            <div class="property-item">
                                <div class="property--img">
                                    <a href="{% url 'property_single' latest_property.id %}">
                                        {% if latest_property.featured_image %}
                                        <img src="{{latest_property.featured_image.url}}" alt="property image"
                                            class="img-responsive image-resize">
                                        {% endif %}

                                        <span class="property--status">For {{latest_property.property_for_id.property_for_name}}</span>
                                    </a>
                                </div>
                                <div class="property--content">
                                    <div class="property--info">
                                        <h5 class="property--title"><a href="{% url 'property_single' latest_property.id %}">{{latest_property.title}}</a></h5>
                                        <p class="property--location">{{latest_property.locality}}</p>
                                        <p class="property--price">₹{{latest_property.indian_currency}}</p>
                                    </div>
                                    <!-- .property-info end -->
                                    <div class="property--features">
                                        <ul class="list-unstyled mb-0">
                                            <li><span class="feature">Beds:</span><span class="feature-num">{{latest_property.bedroom}}</span>
                                            </li>
                                            <li><span class="feature">Baths:</span><span class="feature-num">{{latest_property.bathroom}}</span>
                                            </li>
                                            <li><span class="feature">Area:</span><span class="feature-num">{{latest_property.carpet_area}} sq
                                                    ft</span></li>
                                        </ul>
                                    </div>
                                    <!-- .property-features end -->
                                </div>
                            </div>
                            {% endfor %}
                            <!-- .property item end -->

                        </div>
                        <!-- .carousel end -->
                    </div>
                    <!-- .col-md-12 -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </section>
        <!-- #properties-carousel  end  -->




        <!-- Feature
============================================= -->
        <section id="feature" class="feature feature-1 text-center bg-white pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="heading heading-2 text-center mb-70">
                            <h2 class="heading--title">Simple Steps</h2>
                            <p class="heading--desc">Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
                        </div>
                        <!-- .heading-title end -->
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->
                <div class="row">
                    <!-- feature Panel #1 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="feature-panel">
                            <div class="feature--icon">
                                <img src="https://demo.zytheme.com/lalan/assets/images/features/icons/5.png" alt="icon img">
                            </div>
                            <div class="feature--content">
                                <h3>Search For Real Estates</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eule
                                    pariate.</p>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-4 end -->
                    <!-- feature Panel #2 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="feature-panel">
                            <div class="feature--icon">
                                <img src="https://demo.zytheme.com/lalan/assets/images/features/icons/6.png" alt="icon img">
                            </div>
                            <div class="feature--content">
                                <h3>Select Your Favorite</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eule
                                    pariate.</p>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-4 end -->
                    <!-- feature Panel #3 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="feature-panel">
                            <div class="feature--icon">
                                <img src="https://demo.zytheme.com/lalan/assets/images/features/icons/7.png" alt="icon img">
                            </div>
                            <div class="feature--content">
                                <h3>Take Your Key</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eule
                                    pariate.</p>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-4 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- .feature end -->
        <!-- city-property
============================================= -->
        <section id="city-property" class="city-property text-center pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="heading heading-2 text-center mb-70">
                            <h2 class="heading--title">Property By City</h2>
                            <p class="heading--desc">Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
                        </div>
                        <!-- .heading-title end -->
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->
                <div class="row">
                    <!-- City #1 -->
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <div class="property-city-item">
                            <div class="property--city-img">
                                <a href="#">
                                    <img src="{% static 'images/properties/city/1.jpg'%}" alt="city"
                                        class="img-responsive">
                                    <div class="property--city-overlay">
                                        <div class="property--item-content">
                                            <h5 class="property--title">New York</h5>
                                            <p class="property--numbers">16 Properties</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .property-city-img end -->
                        </div>
                        <!-- . property-city-item end -->
                    </div>
                    <!-- .col-md-8 end -->
                    <!-- City #2 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="property-city-item">
                            <div class="property--city-img">
                                <a href="#">
                                    <img src="{% static 'images/properties/city/2.jpg'%}" alt="city"
                                        class="img-responsive">
                                    <div class="property--city-overlay">
                                        <div class="property--item-content">
                                            <h5 class="property--title">Chicago</h5>
                                            <p class="property--numbers">14 Properties</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .property-city-img end -->
                        </div>
                        <!-- . property-city-item end -->
                    </div>
                    <!-- .col-md-8 end -->
                </div>
                <!-- .row end -->
                <div class="row">

                    <!-- City #3 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="property-city-item">
                            <div class="property--city-img">
                                <a href="#">
                                    <img src="assets/images/properties/city/3.jpg" alt="city" class="img-responsive">
                                    <div class="property--city-overlay">
                                        <div class="property--item-content">
                                            <h5 class="property--title">Manhatten</h5>
                                            <p class="property--numbers">18 Properties</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .property-city-img end -->
                        </div>
                        <!-- . property-city-item end -->
                    </div>
                    <!-- .col-md-8 end -->
                    <!-- City #4 -->
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <div class="property-city-item">
                            <div class="property--city-img">
                                <a href="#">
                                    <img src="assets/images/properties/city/4.jpg" alt="city" class="img-responsive">
                                    <div class="property--city-overlay">
                                        <div class="property--item-content">
                                            <h5 class="property--title">Los Angeles</h5>
                                            <p class="property--numbers">10 Properties</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .property-city-img end -->
                        </div>
                        <!-- . property-city-item end -->
                    </div>
                    <!-- .col-md-8 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- .city-property end -->

        <!-- agents
============================================= -->
    
        <!-- #agents end  -->

        <!-- cta #1
============================================= -->
        <section id="cta" class="cta cta-1 text-center bg-overlay bg-overlay-dark pt-90">
            <div class="bg-section"><img src="assets/main/images/cta/bg-1.jpg" alt="Background"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                        <h3>Join our professional team & agents to start selling your house</h3>
                        <a href="{% url 'contact' %}" class="btn btn--primary">Contact</a>
                        
                    </div>
                    <!-- .col-md-6 -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </section>
        <!-- #cta1 end -->



    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    
    <script>
        //for giving suggestions in search box by calling an API
        $(function(){
            $("#search").autocomplete({
                source: '{% url "suggestionapi" %}',
                minLength: 2
        }); 
    });
    </script>
    <script src="{% static 'main/js/jquery-2.2.4.min.js'%}"></script>
    <script src="{% static 'main/js/plugins.js'%}"></script>
    <script src="{% static 'main/js/functions.js'%}"></script>



{% endblock %}