{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block head %}

    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="Ashwin John Dibu" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Property page of million estate site">
    <link href="assets/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Stylesheets
============================================= -->
<link href="{% static 'main/css/external.css' %}" rel="stylesheet">
<link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'main/css/style.css' %}" rel="stylesheet">

    <title>{{property.title}} | TheMillionEstate</title>
    <style>
        .image-resize{
            height: 450px;
            object-fit: cover;
            object-position: center;
        }

        .image-resiz{
            height: 230px;
            object-fit: cover;
            object-position: center;
        }
    </style>
    


{% endblock %}


{% block content %}
        <!-- Page Title #1
============================================ -->
<section id="page-title" class="page-title bg-overlay bg-overlay-dark2">
    <div class="bg-section">
        <img src="{{property.featured_image.url}}"alt="Background">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--heading">
                            <h1>Single Property</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Single Property</li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- property single gallery
============================================= -->
<section id="property-single-gallery" class="property-single-gallery">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="property-single-gallery-info">
                    <div class="property--info clearfix">
                        <div class="pull-left">
                            <h5 class="property--title">{{property.title}}</h5>
                            <p class="property--location"><i class="fa fa-map-marker"></i>{{property.locality}}</p>
                        </div>
                        <div class="pull-right">
                            <span class="property--status">For {{property.property_for_id.property_for_name}}</span>
                            <p class="property--price">₹{{property.indian_currency}}</p>
                        </div>
                    </div>
                    <!-- .property-info end -->
                    <div class="property--meta clearfix">
                        <div class="pull-left">
                            <ul class="list-unstyled list-inline mb-0">
                                <li>
                                    Property ID:<span class="value"> {{property.id}}</span>
                                </li>
                                <li>
                                    Add to favorites:<span class="value"> <i class="fa fa-heart-o"></i></span>
                                </li>
                            
                            </ul>
                        </div>
                        <div class="pull-right">
                            <div class="property--meta-share">
                                <span class="share--title">share</span>
                                <ul class="list-unstyled list-inline mb-0">
                                    <li class="twitter" style="margin-right: 10px;">{% post_to_twitter "{{property.title}}" object_or_url '<i class="fa fa-twitter"></i>' %}</li>
                                    <li class="facebook" style="margin-right: 10px;">{% post_to_facebook object_or_url '<i class="fa fa-facebook"></i>' %}</li>
                                    <li class="facebook" style="margin-right: 10px;">{% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp"></i>' %}</li>
                                </ul>

                            </div>
                            <!-- .property-meta-share end -->
                        </div>
                    </div>
                    <!-- .property-info end -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="property-single-carousel inner-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="heading">
                                <h2 class="heading--title">Gallery</h2>
                            </div>
                        </div>
                        <!-- .col-md-12 end -->
                        <div class="col-xs-12 col-sm-12 col-md-12">

                

                            <div class="property-single-carousel-content">
                                {% if image %}
                                <div class="carousel carousel-thumbs slider-navs" data-slide="1" data-slide-res="1" data-autoplay="true" data-thumbs="true" data-nav="true" data-dots="false" data-space="30" data-loop="true" data-speed="800" data-slider-id="1">
                                    
                                    {% for img in image %}
                                    <img src="{{img.image.url}}" class="image-resize" alt="Property Image">
                                    {% endfor %}
                                   
                                </div>
                                <!-- .carousel end -->
                                <div class="owl-thumbs thumbs-bg" data-slider-id="1">
                                    {% for img in image %}
                                    <button class="owl-thumb-item">
                                        <img src="{{img.image.url}}" width="100px" alt="Property Image thumb">
                                    </button>

                                    {% endfor %}
                                </div>
                                {% else %}
                                No Gallery
                                {% endif %}
                            </div>
                            <!-- .col-md-12 end -->
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .property-single-desc end -->
                <div class="property-single-desc inner-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="heading">
                                <h2 class="heading--title">Description</h2>
                            </div>
                        </div>
                        <!-- feature-panel #1 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-panel">
                                <div class="feature--img">
                                    <img src="{% static 'main/images/house_icon/carpetarea.png' %}" style="height: 30px;" alt="icon">
                                </div>
                                <div class="feature--content">
                                    <h5>Carpet Area:</h5>
                                    <p>{{property.carpet_area}} sq ft</p>
                                </div>
                            </div>
                        </div>
                        <!-- feature-panel end -->
                        <!-- feature-panel #2 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-panel">
                                <div class="feature--img">
                                    <img src="{% static 'main/images/house_icon/bed.png' %}" style="height: 30px;" alt="icon">
                                </div>
                                <div class="feature--content">
                                    <h5>Beds:</h5>
                                    <p>{{property.bedroom}} Bedrooms</p>
                                </div>
                            </div>
                        </div>
                        <!-- feature-panel end -->
                        <!-- feature-panel #3 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-panel">
                                <div class="feature--img">
                                    <img src="{% static 'main/images/house_icon/bathtub.png' %}" style="height: 30px;" alt="icon">
                                </div>
                                <div class="feature--content">
                                    <h5>Baths:</h5>
                                    <p>{{property.bathroom}} Bathrooms</p>
                                </div>
                            </div>
                        </div>
                        <!-- feature-panel end -->
                        <!-- feature-panel #4 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-panel">
                                <div class="feature--img">
                                    <img src="{% static 'main/images/house_icon/balcony.png' %}" style="height: 30px;" alt="icon">
                                </div>
                                <div class="feature--content">
                                    <h5>Balcony:</h5>
                                    <p>{{property.balcony}} Balcony</p>
                                </div>
                            </div>
                        </div>
                        <!-- feature-panel end -->
                        <!-- feature-panel #5 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-panel">
                                <div class="feature--img">
                                    <img src="{% static 'main/images/house_icon/old-house.png' %}" style="height: 30px;" alt="icon">
                                </div>
                                
                                <div class="feature--content">
                                    <h5>Property Age:</h5>
                                    <p>{{property.property_age}} Year</p>
                                </div>
                            </div>
                        </div>
                        <!-- feature-panel end -->
                        <!-- feature-panel #6 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-panel">
                                <div class="feature--img">
                                    <img src="{% static 'main/images/house_icon/garage.png' %}" style="height: 30px;" alt="icon">
                                </div>
                                <div class="feature--content">
                                    <h5>Parking:</h5>
                                    <p>2 Parking</p>
                                </div>
                            </div>
                        </div>
                        <!-- feature-panel end -->
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="property--details">
                                <p>{{property.description}}</p>
                                
                            </div>
                            <!-- .property-details end -->
                        </div>
                        <!-- .col-md-12 end -->
                        
                    </div>
                
  
 
                    <!-- .row end -->
                </div>
                <!-- .property-single-desc end -->


                <div class="property-single-features inner-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="heading">
                                <h2 class="heading--title">Features</h2>
                            </div>
                        </div>
                        <!-- feature-item #1 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.swimming_pool %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> swimming_pool</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #2 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.visitor_parking %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> visitor_parking</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #3 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.power_backup %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Power Backup</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #4 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.security_firealarm %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Security Firealarm</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #5 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.lift %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Lift</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #6 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.fitness_centre %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Fitness Centre</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #7 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.childrens_park %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Childrens Park</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #8 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.club_house %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Club House</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #9 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                               
                                {% if  features.multipurpose_room %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Multipurpose Room</p>
                                {% endif %}
                                
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #10 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.sports_facility %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Sports Facility</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #11 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.rain_water_harvesting %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Rain Water Harvesting</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->
                        <!-- feature-item #12 -->
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.intercom %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Intercom</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- feature-item end -->

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.maintenance_staff %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Maintenance Staff</p>
                                {% endif %}
                            </div>
                        </div>


                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.water_purifier %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Water Purifier</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.vaastu_compliant %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Vaastu Compliant</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.natural_light %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Natural Light</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.wifi_connectivity %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Wifi Connectivity</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.shopping_centre %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Shopping Centre</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.atm %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> ATM</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.waste_disposal %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Waste Disposal</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="feature-item">
                                {% if  features.piped_gas %}
                                <p><img src="https://img.icons8.com/tiny-color/16/null/checkmark.png"/> Piped Gas</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .property-single-features end -->

                <div class="property-single-location inner-box">
                    <div class="row">


                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="heading">
                                <h2 class="heading--title">Other</h2>
                            </div>
                        </div>
                        <!-- .col-md-12 end -->
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <ul class="list-unstyled mb-20">
                                <li><span>Address:</span>{{property.locality}}</li>
                                <li><span>Furnishing:</span>{{property.furnishing_status}}</li>
                                <li><span>Available For:</span>{{property.available_for}}</li>
                                <li><span>Status:</span>{{property.property_status}}</li>
                                <li><span>Built up area:</span>{{property.builtup_area}}</li>
                                <li><span>Floor:</span>{{property.floors}}</li>

                            </ul>
                        </div>
                        
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .property-single-location end -->

               
                <!-- .property-single-design end -->

                <!-- <div class="property-single-video inner-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="heading">
                                <h2 class="heading--title">Video</h2>
                            </div>
                        </div>
                     
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="video--content text-center">
                                <div class="bg-section">
                                    <img src="assets/images/video/1.jpg" alt="Background" />
                                </div>
                                <div class="video--button">
                                    <div class="video-overlay">
                                        <div class="pos-vertical-center">
                                            <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                                    <i class="fa fa-youtube-play"></i>  
                                </a>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                    
                </div> -->
         


                <!-- .property-single-leave-review end -->
            </div>
            <!-- .col-md-8 -->
            <div class="col-xs-12 col-sm-12 col-md-4">
                <!-- widget property agent
=============================-->
                <div class="widget widget-property-agent">
                    <div class="widget--title">
                        <h5>Posted By</h5>
                    </div>
                    <div class="widget--content">
                        <a href="#">
                            <div class="agent--img">
                                {% if property.user_id.profile %}
                                <img src="{{property.user_id.profile.url}}" alt="agent" class="img-responsive">
                                {% endif %}
                            </div>
                            <div class="agent--info">
                                <h5 class="agent--title">{{property.user_id.full_name}}</h5>
                            </div>
                        </a>
                        <!-- .agent-profile-details end -->
                        <div class="agent--contact">
                            <ul class="list-unstyled">
                                {% if property.user_id.phone_number %}
                                <li><i class="fa fa-phone"></i><a href="tel:+{{property.user_id.phone_number}}">{{property.user_id.phone_number}}</a></li>
                                {% else %}
                                <li><i class="fa fa-phone"></i>No number </li>
                                {% endif %}
                                <li><i class="fa fa-envelope-o"></i>{{property.user_id.email}}</li>
                                <a href = "mailto:{{property.user_id.email}}?subject = Feedback&body = Messagefsfdsf">
                                    Send Mail
                                    </a>
                            </ul>
                        </div>
                        <!-- .agent-contact end -->

                        <!-- <div class="agent--social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div> -->

                        <!-- .agent-social-links -->
                    </div>
                </div>
                <!-- . widget property agent end -->

                <!-- widget request
=============================-->
    
                <!-- . widget request end -->

                <!-- widget featured property
=============================-->
                <div class="widget widget-featured-property">
                    <div class="widget--title">
                        <h5>Featured Properties</h5>
                    </div>
                    <div class="widget--content">
                        <div class="carousel carousel-dots" data-slide="1" data-slide-rs="1" data-autoplay="true" data-nav="false" data-dots="true" data-space="25" data-loop="true" data-speed="800">
                            <!-- .property-item #1 -->
                            <div class="property-item">
                                <div class="property--img">
                                    <img src="assets/images/properties/13.jpg" alt="property image" class="img-responsive">
                                    <span class="property--status">For Rent</span>
                                </div>
                                <div class="property--content">
                                    <div class="property--info">
                                        <h5 class="property--title">House in Chicago</h5>
                                        <p class="property--location">1445 N State Pkwy, Chicago, IL 60610</p>
                                        <p class="property--price">$1200<span class="time">month</span></p>
                                    </div>
                                    <!-- .property-info end -->
                                </div>
                            </div>
                            <!-- .property item end -->
                            <!-- .property-item #2 -->
                            <div class="property-item">
                                <div class="property--img">
                                    <img src="assets/images/properties/2.jpg" alt="property image" class="img-responsive">
                                    <span class="property--status">For Rent</span>
                                </div>
                                <div class="property--content">
                                    <div class="property--info">
                                        <h5 class="property--title"><a href="#">Villa in Oglesby Ave</a></h5>
                                        <p class="property--location">1035 Oglesby Ave, Chicago, IL 60617</p>
                                        <p class="property--price">$130,000<span class="time">month</span></p>
                                    </div>
                                    <!-- .property-info end -->
                                </div>
                            </div>
                            <!-- .property item end -->
                            <!-- .property-item #3 -->
                            <div class="property-item">
                                <div class="property--img">
                                    <img src="assets/images/properties/3.jpg" alt="property image" class="img-responsive">
                                    <span class="property--status">For Sale</span>
                                </div>
                                <div class="property--content">
                                    <div class="property--info">
                                        <h5 class="property--title"><a href="#">Apartment in Long St.</a></h5>
                                        <p class="property--location">34 Long St, Jersey City, NJ 07305</p>
                                        <p class="property--price">$70,000</p>
                                    </div>
                                    <!-- .property-info end -->
                                </div>
                            </div>
                            <!-- .property item end -->
                        </div>
                        <!-- .carousel end -->
                    </div>
                </div>
                <!-- . widget featured property end -->

                <!-- widget mortgage calculator
=============================-->



                <!-- <div class="widget widget-mortgage-calculator">
                    <div class="widget--title">
                        <h5>Mortage Calculator</h5>
                    </div>
                    <div class="widget--content">
                        <form class="mb-0">
                            <div class="form-group">
                                <label for="sale-price">Sale Price</label>
                                <input type="text" class="form-control" name="sale-price" id="sale-price" placeholder="$">
                            </div>
                           
                            <div class="form-group">
                                <label for="down-payment">Down Payment</label>
                                <input type="text" class="form-control" name="down-payment" id="down-payment" placeholder="$">
                            </div>
                           
                            <div class="form-group">
                                <label for="term">Term</label>
                                <input type="text" class="form-control" name="term" id="term" placeholder="years">
                            </div>
                            
                            <div class="form-group">
                                <label for="interest-rate">Interest Rate</label>
                                <input type="text" class="form-control" name="interest-rate" id="interest-rate" placeholder="%">
                            </div>
                            
                            <input type="submit" value="Calculate" name="submit" class="btn btn--primary btn--block">
                        </form>
                    </div>
                </div> -->


                
                <!-- . widget mortgage calculator end -->
            </div>
            <!-- .col-md-4 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- #property-single end -->


<!-- properties-carousel
============================================= -->
<section id="properties-carousel" class="properties-carousel pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="heading heading-2  mb-70">
                    <h2 class="heading--title">Similar Properties</h2>
                </div>
                <!-- .heading-title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="carousel carousel-dots" data-slide="3" data-slide-rs="1" data-autoplay="true" data-nav="false" data-dots="true" data-space="25" data-loop="true" data-speed="800">

                    {% for simpro in similar_property %}
                    <!-- .property-item #1 -->
                    <div class="property-item">
                        <div class="property--img">
                            <a href="{% url 'property_single' simpro.id %}">

                    {% if simpro.featured_image %}
                    <img src="{{simpro.featured_image.url}}" alt="property image" class="img-responsive image-resiz">
                    {% else %}
        
                    {% endif %}

                    <span class="property--status">For {{simpro.property_for_id.property_for_name}}</span>
</a>
                        </div>
                        <div class="property--content">
                            <div class="property--info">
                                <h5 class="property--title"><a href="{% url 'property_single' simpro.id %}">{{simpro.title}}</a></h5>
                                <p class="property--location">{{simpro.locality}}</p>
                                <p class="property--price">₹{{simpro.indian_currency}}</p>
                            </div>
                            <!-- .property-info end -->
                            <div class="property--features">
                                <ul class="list-unstyled mb-0">
                                    <li><span class="feature">Beds:</span><span class="feature-num">{{property.bedroom}}</span></li>
                                    <li><span class="feature">Baths:</span><span class="feature-num">{{property.bathroom}}</span></li>
                                    <li><span class="feature">Area:</span><span class="feature-num">{{property.carpet_area}}</span></li>
                                </ul>
                            </div>
                            <!-- .property-features end -->
                        </div>
                    </div>
                    <!-- .property item end -->
                    {% endfor %}


                </div>
                <!-- .carousel end -->
            </div>
            <!-- .col-md-12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- #properties-carousel  end  -->

<!-- cta #1
============================================= -->
<section id="cta" class="cta cta-1 text-center bg-overlay bg-overlay-dark pt-90">
    <div class="bg-section"><img src="assets/images/cta/bg-1.jpg" alt="Background"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <h3>Join our professional team & agents to start selling your house</h3>
                <a href="#" class="btn btn--primary">Contact</a>
            </div>
            <!-- .col-md-6 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- #cta1 end -->

    <script src="{% static 'main/js/jquery-2.2.4.min.js'%}"></script>
    <script src="{% static 'main/js/plugins.js'%}"></script>
    <script src="{% static 'main/js/functions.js'%}"></script>

{% endblock %}